
.search-area .row-50{
    width: 50%;
    float: left;
}
.search-area .search-term-question{
    width: 95%;
    height: 33px;
    border-radius: 5px;
    margin-left: 3px;

}
.search-area .time{
    float: left;
    margin: 0;
    width: 50%;
}
.search-area .questionText{
    float: left;
    width:25%;
}
.search-area .searchButton{
    float: left;
    width: 10%;
    margin-left: -145px;
    margin-top: 3px;
}
.search-area .search-newButton{
    float: left;
    width: 15%;
    margin-left: 95px;
    margin-top: 3px;
}
.searchButton .search-btn {
    padding: 3px 15px 3px 15px;
    background: #4c93e1;
    border-color: #4c93e1;
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;

}
.search-newButton .search-new{
    padding: 3px 15px 3px 15px;
    background: darkseagreen;
    border-color: darkseagreen;
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;
}
.question-area{
    margin-top: 15px;
}
.question-area .question-detail {
    margin-top: 4px;
    background-color: #fff;
}
.question-area .question-detail-masthead {
    background-color: #f1f1f1;
    border-width: 1px 0;
    border-color: #e3e3e3;
    border-style: solid;
    color: #999;
}

.question-area .question-detail .question-detail-masthead li {
    display: block;
    float: left;
    border-right: 1px solid #e3e3e3;
    height: 20px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
}
.question-area .question-detail .what {
    float:left;
    width:60%;
    borderRight:1px solid #aaa;
    textAlign:center;

}
.question-area .question-detail .who{
    float:left;
    width:15%;
    borderRight:1px solid #aaa;
    textAlign:center;
}
.question-area .question-detail .when{
    float:left;
    width:15%;
    borderRight:1px solid #aaa;
    textAlign:center;
}
.question-area .question-detail .details{
    float:left;
    width:10%;
    borderRight:1px solid #aaa;
    textAlign:center;
}
.question-area .question-detail .question-detail-item-list {
    margin-top: 2px;
    border-top: 1px solid #f1f1f1;
}
.question-area .question-detail .item {
    padding: 0px 0;
    border-bottom: 1px solid #f1f1f1;
}

.question-area .question-detail .what .theme {
    display: block;
    text-align: left;
    padding: 20px;
    margin-top: 1%;
    color: black;
}

.question-area .question-detail .item .who {
    text-align: center;
}
.question-area .question-detail .item .when {
    text-align: center;
}
.question-area .question-detail .item .details{
    color: #0287ca;
    text-align: center;
    cursor: pointer;
}
.CreateNew-area{
    padding: 10px 0px 0px 20px;
}
.CreateNew-area .CreateNew-L{
    float: left;
    width: 550px;

}
.CreateNew-area .CreateNew-R{
    float: left;
    width: 270px;
    margin-left: 150px;
    margin-bottom: 45px;
}
.newConsultation-subtitle{
    text-align: center;
    border-bottom-style: dotted;
    border-bottom-width: initial;
    border-bottom-color: #eeeeee;
    padding-bottom: 2px;
}
.CreateNew-area .CreateNew-L .CreateNew-area-textArea{
    width: 480px;
    margin-left: 25px;
    height: 150px;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    resize:none;
}
.CreateNew-area .CreateNew-L .CreateNew-btn{
    padding: 6px 45px;
    border-radius: 5px;
    background: #d7e7fc;
    border-color: aliceblue;
    margin-left: 22px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.CreateNew-area .CreateNew-R .widget{
    width: 250px;
    padding-top:20px;
}
.CreateNew-area .CreateNew-R .support-widget {
    border: 1px solid #e9e6c4;
    padding: 10px 80px 5px 20px;
    background: url(../../../build/images/support.png) no-repeat 95% 20px;
    background-color: antiquewhite;
    margin-left: 20px;
}
.CreateNew-area .CreateNew-R .support-widget .support-widget-title{
    background-color: inherit;
}
.modalCloseBtn{
    padding: 2px 35px;
    background: darkgrey;
    border-radius: 5px;
}

