.homePage {
    margin: 0 auto;

}
.topAndCenter{
    position:absolute;
    width:100%;
}

.footer{
    padding-top: 8px;
    position:relative;
    bottom:0;
    width:100%;
    height:10%;
}

.topMain{
    width:100%;
    height:20%;
    position: relative;
}

.centerMain{
    position:absolute;
    width:100%;
    height:400px;
    border:2px solid #000
}

.topLeft {
    position:absolute;
    left:200px;
    top:30px;
    width:600px;
    height:70px;
}
.homePage_R {
    float:left;
    width: 500px;
    margin-left: 120px;

}
.homePage_L{
    float: left;
    width: 800px;
}


